<!DOCTYPE html>
<html lang="en">
    <head>
    <title>AjudeVidas</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/stylesheet/login.css">  
  <body background="/home/hugo/Imagens/sushi.jpeg"> 

    <div class="container-fluid">
	  <div class="row">  
	  	<div class="field form-group col-xs-4">
				
	     </div> 
		<div class="field form-group col-xs-6">
			<%= yield %>  
	   	</div> 
	  </div>   		
    </div> <!-- /container -->
  </body>
</html>
